.text{
    width:350px;
    
}
.word-counter {
    background-color: rgb(190, 210, 249);
    width: 100%;
    max-width: 400px;
    margin: 200px auto;
    padding: 20px;
    text-align: center;
  }
  
  .textarea-container {
    margin-bottom: 20px;
  }
  
  textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }
  
  .word-count {
    background-color: #f4f4f4;
    padding: 1px;
    border-radius: 5px;
  }
  
  @media (max-width: 600px) {
    .word-counter {
      max-width: 100%;
    }
  }